/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*============Animations=========*/
/*=======================
FADE IN animation
=========================*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

/*====================
Pulsate Animation
======================*/
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*====================
Linear gradient change
=====================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 85%;
  }
}

::-moz-selection {
  background-color: #3b6978;
  color: #fff;
}

::selection {
  background-color: #3b6978;
  color: #fff;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
}

img {
  display: inline-block;
}

.heading {
  text-transform: uppercase;
}

.heading--pri {
  font-size: 4rem;
  font-family: "Libre Franklin", sans-serif;
}

.heading--sec {
  font-family: "Libre Franklin", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.4em;
  font-weight: 300;
  text-align: center;
}

.heading--ter {
  font-size: 2.5rem;
  font-family: "Nunito Sans", sans-serif;
}

.heading--quadr {
  font-size: 2rem;
}

.banner {
  text-align: center;
}

.banner__heading--pri {
  font-weight: bold;
  letter-spacing: 1em;
}

@media only screen and (max-width: 28.125em) {
  .banner__heading--pri {
    letter-spacing: 0.3em;
  }
}

.banner__heading--ter {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
}

.about__heading {
  text-align: center;
}

.video-w-content .video-w-text__text {
  color: #fff;
}

.feature__box {
  color: #e4e3e3;
}

.feature__box__icon {
  font-size: 2.5rem;
}

.programs {
  text-align: center;
}

.results h3 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .results {
    text-align: center;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

html,
body {
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

/*================= 
Banner Button
==================*/
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.5;
}

#section03 a {
  padding-top: 4rem;
}

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*=============
about section button
================*/
.about__link, .about__link:link, .about__link:visited {
  font-size: 1.8rem;
  color: #3b6978;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3b6978;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 0.4em 0.5em 0.3em;
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #84a9ac 50%);
  background-size: 220%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
}

.about__link:hover {
  background-position: 100%;
  background-color: #3b6978;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.about__link:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.about__link:active, .about__link:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*=============
video-w-text section button
================*/
.video-w-text__link, .video-w-text__link:link, .video-w-text__link:visited {
  font-size: 1.8rem;
  color: #0e1c24;
  display: inline-block;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 0.4em 0.5em 0.3em;
  display: inline-block;
  background-image: linear-gradient(120deg, #84a9ac, #e4e3e3);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
}

.video-w-text__link:hover {
  -webkit-box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.25rem) scale(1.1);
          transform: translateY(-0.25rem) scale(1.1);
}

.video-w-text__link:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.video-w-text__link:active, .video-w-text__link:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*============================== 
program section(cards) Button
===============================*/
.programs .btn, .programs .btn:link, .programs .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

.programs .btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.programs .btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.programs .btn:active, .programs .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.programs .btn--white {
  background-color: #fff;
  color: #777;
}

.programs .btn--white::after {
  background-color: #fff;
}

.programs .btn--primary-dark {
  background-color: #84a9ac;
  color: #000;
}

.programs .btn--primary-dark::after {
  background-color: #84a9ac;
}

.programs .btn--primary {
  background-color: #3b6978;
  color: #fff;
}

.programs .btn--primary::after {
  background-color: #3b6978;
}

.programs .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.programs .btn-text:link, .programs .btn-text:visited {
  font-size: 1.8rem;
  color: #3b6978;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3b6978;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.programs .btn-text:hover {
  background-color: #3b6978;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.programs .btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.popup__btn, .popup__btn:link, .popup__btn:visited {
  font-size: 1.8rem;
  color: #3b6978;
  display: inline-block;
  border-radius: 6px;
  padding: 0.4em 0.7em;
  display: inline-block;
  background-color: #e4e3e3;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.popup__btn:hover {
  -webkit-box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  outline: none;
  border: none;
}

.popup__btn:active, .popup__btn:focus {
  outline: none;
  border: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.popup__close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*=================================
ABOUT PAGE BUTTON
============================*/
.about__btn, .about__btn:link, .about__btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.about__btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.about__btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.about__btn:active, .about__btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.about__btn--white {
  background-color: #fff;
  color: #777;
}

.about__btn--white::after {
  background-color: #fff;
}

.about__btn--primary-dark {
  background-color: #84a9ac;
  color: #000;
}

.about__btn--primary-dark::after {
  background-color: #84a9ac;
}

.about__btn--primary {
  background-color: #3b6978;
  color: #fff;
}

.about__btn--primary::after {
  background-color: #3b6978;
}

.about__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about .btn-text:link, .about .btn-text:visited {
  font-size: 1.8rem;
  color: #3b6978;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3b6978;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about .btn-text:hover {
  background-color: #3b6978;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.about .btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*=================================
NAV SUB BUTTON
============================*/
.header--sub__btn, .header--sub__btn:link, .header--sub__btn:visited {
  background-color: #e4e3e3;
  color: #3b6978;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.header--sub__btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.header--sub__btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header--sub__btn:active, .header--sub__btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
}

.card__side {
  height: 40rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#06ad9f), to(#00756c));
  background-image: linear-gradient(to right bottom, #06ad9f, #00756c);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e4e3e3), to(#8b8b8b));
  background-image: linear-gradient(to right bottom, #e4e3e3, #8b8b8b);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#84a9ac), to(#204051));
  background-image: linear-gradient(to right bottom, #84a9ac, #204051);
}

.card__side--back-4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#06ad9f), to(#00756c)), url(../resources/img/green-apple.jpg);
  background-image: linear-gradient(to right bottom, #06ad9f, #00756c), url(../resources/img/green-apple.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e4e3e3), to(#8b8b8b)), url(../resources/img/gain-muscle.jpg);
  background-image: linear-gradient(to right bottom, #e4e3e3, #8b8b8b), url(../resources/img/gain-muscle.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#84a9ac), to(#204051)), url(../resources/img/fitness-improve.jpg);
  background-image: linear-gradient(to right bottom, #84a9ac, #204051), url(../resources/img/fitness-improve.jpg);
}

.card__picture--4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../resources/img/costumized.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../resources/img/costumized.jpg);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(6, 173, 159, 0.85)), to(rgba(0, 117, 108, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(6, 173, 159, 0.85), rgba(0, 117, 108, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(228, 227, 227, 0.85)), to(rgba(139, 139, 139, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(228, 227, 227, 0.85), rgba(139, 139, 139, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(132, 169, 172, 0.85)), to(rgba(32, 64, 81, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(132, 169, 172, 0.85), rgba(32, 64, 81, 0.85));
}

.card__heading-span--4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 2rem 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 4.7rem;
  font-weight: 100;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    position: relative;
    display: -ms-grid;
    display: grid;
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 3.5rem;
  }
}

.popup {
  color: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(59, 105, 120, 0.7);
  z-index: 9999;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.popup__close {
  position: absolute;
  font-size: 3rem;
  top: 1.5rem;
  right: 2rem;
  text-align: right;
  z-index: 10;
}

.popup__close__btn {
  display: inline;
}

@media only screen and (max-width: 37.5em) {
  .popup__close {
    top: 0;
    right: 1rem;
  }
}

@supports ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
  .popup {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../resources/img/nutrition-1.jpg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 56.25em) {
  .popup__form {
    height: 80%;
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .popup__form {
    height: 90%;
    width: 90%;
  }
}

.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  padding: 3rem;
  background-color: rgba(59, 105, 120, 0.97);
  -webkit-clip-path: polygon(100% 0, 100% 55%, 55% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 55%, 55% 100%, 0 100%, 0 0);
}

@media only screen and (max-width: 75em) {
  .popup form {
    -webkit-clip-path: polygon(100% 0, 100% 70%, 60% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 70%, 60% 100%, 0 100%, 0 0);
  }
  .popup form > * {
    width: 45%;
  }
}

@media only screen and (max-width: 37.5em) {
  .popup form {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    padding: 1.5rem;
    gap: 1rem;
  }
  .popup form > * {
    padding-top: 1rem;
    width: 100%;
  }
}

.popup__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(132, 169, 172, 0.5);
  border: none;
  border-top: 3px solid transparent;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__input--num {
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .popup__input {
    width: 100%;
  }
}

.popup__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-top: 3px solid #fff;
}

.popup__input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.popup__input:focus:invalid {
  border-top: 3px solid #973636;
}

.popup__input::-webkit-input-placeholder {
  color: #fff;
}

.popup__label {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__label--text {
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  opacity: 0;
  visibility: hidden;
}

.popup__group:focus-within .popup__label--text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.popup__group {
  width: 30%;
}

.popup__age {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.popup__age > * {
  display: block;
  width: 100%;
  margin-right: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .popup__age > * {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.popup__age input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

.popup__age input[type="number"]::-webkit-inner-spin-button,
.popup__age input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup__age datalist {
  height: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .popup__age {
    width: 50% !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.popup__gender {
  width: 30%;
  justify-self: flex-start;
  margin-bottom: 1rem;
}

.popup__gender label {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .popup__gender {
    width: 60%;
  }
}

.popup__program {
  width: 30%;
  justify-self: flex-start;
}

.popup__radio-group {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .popup__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.popup__radio-input {
  display: none;
}

.popup__radio-label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.popup__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #e4e3e3;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.popup__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e4e3e3;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.popup__radio-input:checked ~ .popup__radio-label .popup__radio-button::after {
  opacity: 1;
}

.popup__submit {
  width: 90%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 37.5em) {
  .popup__submit {
    text-align: center;
    width: 40% !important;
  }
}

.popup__login--link {
  text-decoration: none;
  color: #e4e3e3;
  display: inline-block;
  margin-top: 1rem;
}

.popup__login--link:hover {
  font-weight: bold;
}

footer {
  background-color: #3b6978;
  padding: 3rem 2rem;
  font-size: 1.5rem;
}

footer .footer {
  color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
}

footer .footer__logo-box {
  width: 25%;
  height: auto;
}

@media only screen and (max-width: 56.25em) {
  footer .footer__logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer__logo-box img {
  display: inline-block;
  width: 5rem;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

footer .footer__logo-box--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  footer .footer__logo-box--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__navigation {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  footer .footer__navigation {
    width: 100%;
  }
}

footer .footer__list {
  width: 95%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 37.5em) {
  footer .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    gap: 1em;
  }
}

footer .footer__item {
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  footer .footer__item {
    width: 30%;
    text-align: center;
  }
}

footer .footer__link:link, footer .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .footer__link:hover, footer .footer__link:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .footer__link--logo:hover, footer .footer__link--logo:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .footer__copyright {
  margin: 5rem auto 0;
  text-align: center;
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
}

.results {
  background-color: #fff;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 6rem;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .results {
    padding: 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .results {
    margin-bottom: 3rem;
  }
}

.results__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 75em) {
  .results__result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
}

.results__result:not(:last-child)::after {
  position: relative;
  content: "";
  width: 40%;
  height: 2rem;
  background-color: #777;
  top: 7.5rem;
  margin-bottom: 15rem;
}

@media only screen and (max-width: 75em) {
  .results__result:not(:last-child)::after {
    width: 60%;
    height: 1.5rem;
    top: 5.5rem;
    margin-bottom: 11rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .results__result:not(:last-child)::after {
    width: 95%;
    height: 0.2rem;
    top: 4rem;
    margin-bottom: 8rem;
    opacity: 0.5;
  }
}

.results__result--2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 75em) {
  .results__result--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
}

.results__imgs {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 56.25em) {
  .results__imgs {
    width: 80%;
  }
}

@media only screen and (max-width: 28.125em) {
  .results__imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.results__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.results__img img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 75em) {
  .results__img img {
    width: 70%;
  }
}

.results__text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 75em) {
  .results__text {
    width: 85%;
  }
}

.banner {
  color: #e4e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(32, 64, 81, 0.7)), to(rgba(132, 169, 172, 0.7))), url(../resources/img/banner-background.jpg);
  background-image: linear-gradient(to right bottom, rgba(32, 64, 81, 0.7), rgba(132, 169, 172, 0.7)), url(../resources/img/banner-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
}

.banner > * {
  z-index: 10;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.banner__heading {
  margin-top: 1em;
}

.banner__heading--pri {
  position: relative;
  left: 0.5em;
}

@media only screen and (max-width: 28.125em) {
  .banner__heading--pri {
    left: 0;
  }
}

.banner__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: contrast(100);
          filter: contrast(100);
  max-width: 35rem;
  margin-top: 5em;
}

.banner__logo img {
  max-width: 35rem;
}

.about {
  background-color: #e4e3e3;
  padding: 7rem 7rem 13rem;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .about {
    padding: 6rem;
  }
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .about__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about__btn {
  margin-left: 2em;
}

.about__imgs {
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .about__imgs {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .about__imgs {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.about__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .about__photo {
    position: relative;
    width: 100%;
    border: 0.4rem solid #3b6978;
    -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 112.5em) {
  .about__photo {
    position: relative;
  }
}

.about__photo--p1 {
  left: 0;
  top: -2rem;
}

@media only screen and (max-width: 56.25em) {
  .about__photo--p1 {
    left: auto;
    top: auto;
  }
}

@media only screen and (min-width: 112.5em) {
  .about__photo--p1 {
    left: auto;
    top: auto;
    width: 30%;
  }
}

.about__photo--p2 {
  right: 0;
  top: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .about__photo--p2 {
    right: auto;
    top: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media only screen and (min-width: 112.5em) {
  .about__photo--p2 {
    right: auto;
    top: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.about__photo--p3 {
  left: 20%;
  top: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .about__photo--p3 {
    left: auto;
    top: auto;
  }
}

@media only screen and (min-width: 112.5em) {
  .about__photo--p3 {
    left: auto;
    top: auto;
    width: 30%;
  }
}

.about__photo--p4 {
  left: 9%;
  top: 50%;
}

@media only screen and (max-width: 56.25em) {
  .about__photo--p4 {
    left: auto;
    top: auto;
  }
}

@media only screen and (min-width: 112.5em) {
  .about__photo--p4 {
    left: auto;
    top: auto;
    width: 40%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.about__photo--p5 {
  right: -7%;
  top: 55%;
}

@media only screen and (max-width: 56.25em) {
  .about__photo--p5 {
    right: auto;
    top: auto;
  }
}

@media only screen and (min-width: 112.5em) {
  .about__photo--p5 {
    right: auto;
    top: auto;
    width: 25%;
  }
}

.about__photo:hover {
  outline: 1.5rem solid #3b6978;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

@media only screen and (max-width: 56.25em) {
  .about__photo:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    outline: none;
  }
}

.about:hover .about__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  outline: none;
}

.about--page {
  padding-top: 15rem;
  padding-bottom: 7rem;
}

@media only screen and (max-width: 56.25em) {
  .about--page {
    padding-top: 5rem;
  }
}

.about__button--page {
  width: 100%;
  margin-top: 10rem;
  text-align: center;
}

@media only screen and (max-width: 75em) {
  .about__button--page {
    margin-top: 5rem;
  }
}

.video-w-content {
  background-color: #3b6978;
}

.video-w-content .video-w-text {
  margin-bottom: -0.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 37.5em) {
  .video-w-content .video-w-text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 0;
  }
}

.video-w-content .video-w-text .left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 37.5em) {
  .video-w-content .video-w-text .left {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.video-w-content .video-w-text .right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (max-width: 37.5em) {
  .video-w-content .video-w-text .right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.video-w-content .video-w-text__video {
  width: 100%;
}

.video-w-content .video-w-text__video > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.video-w-content .video-w-text__text {
  background-color: #3b6978;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em 3em;
  width: 135%;
}

@media only screen and (max-width: 37.5em) {
  .video-w-content .video-w-text__text {
    width: 99%;
  }
}

.video-w-content .video-w-text__text > * {
  width: 80%;
}

.video-w-content .video-w-text__text.left {
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 37.5em) {
  .video-w-content .video-w-text__text.left {
    padding: 2em 3em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .video-w-content .video-w-text__text.left p {
    width: 100%;
  }
}

.video-w-content .video-w-text__text.right {
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  right: 35%;
  padding-left: 35%;
}

@media only screen and (max-width: 56.25em) {
  .video-w-content .video-w-text__text.right p {
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .video-w-content .video-w-text__text.right {
    padding: 2em 3em;
    right: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.video-w-content .video-w-text__text p {
  width: 70%;
}

.video-w-content .video-w-text__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.video-w-content .video-w-text__link {
  padding: 0.7em 1.1em;
}

.feature {
  background-color: #84a9ac;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feature__box {
  width: 45%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  gap: 1.7rem;
  justify-items: flex-start;
  margin: 2em auto;
}

.feature__box h3 {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .feature__box {
    width: 80%;
  }
}

@media only screen and (max-width: 28.125em) {
  .feature__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.feature__box__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.feature__box__icon i {
  display: inline-block;
  background-color: #0e1c24;
  padding: 1em;
  border-radius: 50%;
}

@media only screen and (max-width: 28.125em) {
  .feature__box__icon {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 28.125em) {
  .feature {
    justify-items: center;
    text-align: center;
  }
}

.programs {
  background-color: #e4e3e3;
  padding: 7rem 2em;
}

.programs__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 75em) {
  .programs__row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .programs__row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.programs .card__recommended {
  color: rgba(153, 153, 153, 0.7);
}

@media only screen and (max-width: 37.5em) {
  .programs .card {
    width: 85%;
    margin: 0 auto;
  }
}

.programs__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .programs__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 4rem;
  }
}

.programs__btn {
  width: 45%;
}

@media only screen and (max-width: 56.25em) {
  .programs__btn {
    width: 70%;
  }
}

.header {
  z-index: 2000;
  height: 10em;
  position: fixed;
  top: 6rem;
  right: 6rem;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#84a9ac, #204051);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 3.25rem;
    right: 3.25rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #3b6978;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__expand .background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__expand .nav {
  opacity: 1;
  width: 100%;
}

.navigation__expand .button .icon {
  background-color: transparent;
}

.navigation__expand .button .icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__expand .button .icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.navigation--sub {
  background-color: #3b6978;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navigation--sub__button {
  display: none;
}

.navigation--sub__background {
  display: none;
}

.navigation--sub__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation--sub__list {
  position: relative;
  top: auto;
  left: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation--sub__item {
  margin: 1rem;
}

.navigation--sub__link:link, .navigation--sub__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  color: #e4e3e3;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, transparent 50%);
  background-size: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation--sub__link:hover, .navigation--sub__link:active {
  color: #e4e3e3;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-weight: 500;
}

.navigation--sub__link--active:link, .navigation--sub__link--active:visited {
  font-weight: bold;
}

.sign-up__button {
  background-color: #204051;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 18rem;
  right: 6rem;
  border: none;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .sign-up__button {
    top: 12rem;
    right: 3rem;
  }
}

.sign-up__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#84a9ac, #204051);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.sign-up__pop-up {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sign-up__link:link, .sign-up__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.sign-up__link:link span, .sign-up__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.sign-up__link:hover, .sign-up__link:active {
  background-position: 100%;
  color: #3b6978;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.sign-up__checkbox:checked ~ .sign-up__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.sign-up__checkbox:checked ~ .sign-up__nav {
  opacity: 1;
  width: 100%;
}

.sign-up__icon {
  position: relative;
  color: #fff;
  font-size: 2.5rem;
}

.header--sub {
  background-color: #3b6978;
  padding: 1rem;
  padding-right: 3rem;
  width: 100vw;
  color: #e4e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2000;
  position: fixed;
  height: auto;
  border-bottom: #e4e3e3 2px solid;
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: display 5s;
  transition: display 5s;
}

.header--sub__box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--sub__logo-box {
  width: 25%;
  height: auto;
}

.header--sub__logo-box img {
  display: inline-block;
  width: 5rem;
}

.header--sub__logo-box--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--sub__link {
  text-decoration: none;
  color: #e4e3e3;
}
