

$color-primary: #3b6978;
$color-primary-light: #84a9ac;
$color-primary-dark: #204051;
$color-primary-darker: #0e1c24;

$color-secondary: #e4e3e3;
$color-secondary-dark: #8b8b8b;

$color-tertiary-light: #06ad9f;
$color-tertiary-dark: #00756c;

$color-quadr-light: #2998ff;
$color-quadr-dark: #5643fa;

$color-warn:rgb(151, 54, 54);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT Family
$h1-font: 'Libre Franklin', sans-serif;
$h2-font:'Nunito Sans', sans-serif ;
$p-font: 'Lato', sans-serif;




// FONT-size
$default-font-size: 1.8rem;
$heading-pri-font-size:4rem;
$heading-sec-font-size:3rem;
$heading-tre-font-size:2.5rem;
$heading-quadr-font-size:2rem;
$small-font-size:1.5rem;
$icon-font-size:2.5rem;

//PADDING
$padding-large:7rem;
$padding-medium:7rem;
$padding-sm:5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;